<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="playbook" class="tab-content">
  <div class="container">
    <div class="row">
      <div class="top-table-data">
        <h5>
          <strong> <%= t('playbook_data.day_format') %></strong>
        </h5>
        <button type="submit" name="submit" data-toggle="modal" data-target="#infoModal">
          <%= t('playbook_data.how_to_use.button') %>
        </button>
      </div>
      <table class="table table-hover">
        <td>
          <%= t('playbook_data.playbook_headers.start_time') %>
        </td>
        <td>
          <%= t('playbook_data.playbook_headers.activity') %>
        </td>
        <td>
          <%= t('playbook_data.playbook_headers.contact') %>
        </td>
        <td>
          <%= t('playbook_data.playbook_headers.phone_number') %>
        </td>
        <td>
          <%= t('playbook_data.playbook_headers.address') %>
        </td>
        <td>
          <%= t('playbook_data.playbook_headers.city') %>
        </td>
        <td>
          <%= t('playbook_data.playbook_headers.changes') %>
        </td>
        <tbody id="playlines">
          <% if @playbook.playlines.any? %>
          <% @playbook.playlines.sort_by(&:order_number).each do |playline| %>
          <%= render 'playlines/show', playline: playline %>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="playline-form col-xs-12" style="margin-top: 20px;">
        <%= render 'playlines/form', playbook: @playbook, playline: @playline, times: @times %>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Modal -->
<%= render 'info', type: 'playbook' %>

