
<div style="position: fixed" class="alert alert-info alert-dismissible" id="change-notice" role="alert" hidden>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Please save the order by clicking the save order button!
  <button id="save-order" class="btn"> Save order </button>
</div>

<div id="playbook" class="tab-content">
  <div class="playbook-date text-center" style="padding: 20px 0px;">
    <h1>
      <%= @playbook.booking.date_wedding.strftime('%A, %b %d') %>
    </h1>
    <p>
      By <%= @playbook.booking.name %>
    </p>
  </div>
  <div class="container">
    <div class="row">
      <button type="submit" name="submit" id="sort-by-time">SORT BY TIME</button>
      <table class="table table-striped">
        <td>
          Start time
        </td>
        <td>
          Contact
        </td>
        <td>
          Phone number
        </td>
        <td>
          Location
        </td>
        <td>
          Activity
        </td>
        <td>
          Changes
        </td>
        <tbody id="playlines">
          <% if @playbook.playlines.any? %>
          <% @playbook.playlines.sort_by(&:order_number).each do |playline| %>
          <%= render 'playlines/show', playline: playline %>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="playline-form col-xs-12 col-sm-9 col-sm-offset-1" style="margin-top: 20px;">
        <%= render 'playlines/form', playbook: @playbook, playline: @playline, times: @times %>
      </div>
    </div>
  </div>
</div>
</div>

<%= content_for(:after_js) do %>
  <script>
    var timeButton = document.getElementById('sort-by-time');
    timeButton.addEventListener('click', sortTable);
  </script>
<% end %>
