<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="song-info">
        <div id="message">
          <h5>
            <strong>
              <%= t('music_data.message', max_songs: @playbook.allowed_songs) %>
            </strong>
          </h5>
        </div>
        <button type="submit" name="submit" data-toggle="modal" data-target="#myModal">
          <%= t('playbook_data.how_to_use.button') %>
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 square-box ">
      <h4>
        OneLife Collection
      </h4>
      <div class="scroll-box">
        <ul>
          <% @selection.each do |song| %>
          <li>
            <div class="song-row">
              <div class="song-title">
                <%= song.title.upcase %>
              </div>
              <div class="song-artist">
                <%= song.artist.upcase %>
              </div>
              <div class="song-buttons">
                <a href="<%= song.url %>" target="_blank">
                  <button class="select-button">LISTEN</button>
                </a>
                <%= simple_form_for([@playbook, SongChoice.new], remote: true) do |f| %>
                <%= f.input :title, as: :hidden, input_html: { value: song.title } %>
                <%= f.input :artist, as: :hidden, input_html: { value: song.artist } %>
                <button type="submit" name="submit" class="select-button">SELECT</button>
                <% end %>
              </div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 square-box">
      <div class="songs-container padding-top-50">
        <h4>
          Selected
        </h4>
        <ul id="selected-songs">
          <% if @songs.any? %>
          <% @songs.each do |song| %>
          <li id=song-choice-id[<%= song.id %>]>
            <div class="song-row">
              <%= song.title.upcase %>
              -
              <%= song.artist.upcase %>
              <%= link_to  playbook_song_choice_path(@playbook, song), method: :delete, data: {confirm: "Sure?"}, remote: true do %>
              <button class="select-button">REMOVE</button>
              <% end %>
            </div>
          </li>
          <% end %>
          <% else %>
          <p id="no-songs-message">
            No songs chosen yet!
          </p>
        </ul>
        <% end %>
        <div id="errors">

        </div>
      </div>
      <div id="song-form">
        <h4>
          Add your own
        </h4>
        <% unless @songs.count >= @playbook.allowed_songs %>
        <%= simple_form_for([@playbook, @song_choice], remote: true) do |f| %>
        <%= f.input :title, label: false, placeholder: 'Title of song' %>
        <%= f.input :artist, label: false, placeholder: '...and the artist!' %>
        <button type="submit" name="submit" id="contact-submit">ADD SONG</button>
        <% end %>
        <% else %>
        <h3>
          <%= @songs.count %> of <%= @playbook.allowed_songs %>
        </h3>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'info', type: 'music' %>
