<table class="table table-striped table-hover">
  <thead z>
    <tr>
      <th><h2><%= @title %></h2 id="booking-title"></th>
    </tr>
  </thead>

  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Location</th>
      <th>Phone</th>

      <th>Playlines</th>

      <th>Status</th>

    </tr>
  </thead>
  <tbody>
    <% bookings.each do |booking| %>
   <tr>
    <td><%= booking.name %></td>
    <td><%= booking.email_address %></td>
    <td><%= booking.location_wedding %></td>
    <td><%= booking.phone_number %></td>
    <td><%= booking.playbook ? booking.playbook.playlines.try(:count) : 0  %></td>
    <td><%= booking.status %></td>

    <td><%= link_to 'Show', admin_booking_path(booking),
    :class => "btn btn-primary"%></td>
    <td><%= link_to 'Edit', edit_admin_booking_path(booking),
    :class => "btn btn-warning"%></td>
    <td><%= link_to 'Decline', admin_booking_path(booking),
    data: {confirm: 'Are you sure?'},
    method: :delete,
    :class => "btn btn-danger"%></td>
    <td><%= link_to 'Approve', approve_admin_request_path(booking), data: {confirm: 'Are you sure?'},
    method: :patch,
    :class => "btn btn-success" unless booking.approved? %></td>
  </tr>
  <% end %>
</tbody>
</table>
