<tr id="booking-<%= booking.id %>">
  <td>
    <h5>
      <%= booking.date_wedding.strftime('%A, %b %d') %>
    </h5>
    <%= link_to admin_booking_path(booking) do %>
    <%= booking.name %>
    <% end %>
    <br>
  </td>
  <td>
    <%= booking.email_address %>
    <br>
    <%= booking.phone_number %>
  </td>
  <td><%= booking.location_wedding %></td>
  <td><%= booking.playbook.song_choices.count %></td>
  <td><%= booking.playbook ? booking.playbook.playlines.try(:count) : 0  %></td>
  <td class="request-status">
    <% if booking.filmed? %>
    <%= link_to "Film", film_playbook_path(booking.playbook), class: "state-btn active-film" %>
    <% else %>
    <%= link_to "Film", new_admin_film_path(booking_id: booking.id), class: "state-btn" %>
    <% end %>
    <%= link_to "Factuur", update_state_admin_booking_path(booking, new_state: 'invoice'), method: :patch, class: "state-btn #{ booking.btn_state('invoice')}", remote: true %>
    <%= link_to "Betaling", update_state_admin_booking_path(booking, new_state: 'payment'), method: :patch, class: "state-btn #{ booking.btn_state('payment')}", remote: true %>
  </td>
</tr>
