<style>
  .booking-active {
    color: white !important;
    background-color: black !important;
  }
</style>
<div id="page-wrapper">

  <div class="container-fluid">

    <div class="container">
      <div style="display: flex; justify-content: space-between;">
        <div id="flex-child">
          <p><a href="/admin/bookings/new" class="btn btn-primary" role="button"> Add a new booking! &raquo;</a></p>
        </div>
        <div id="flex-child">
          <form class="form-inline" action="<%= admin_bookings_path %>">
            <div class="form-group">
              <input type="text" name="search" class="form-control" placeholder="Zoek een boeking">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default" date-remote="true">Zoek!</button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <div class="tabs">
      <%= link_to admin_bookings_path, class: "tab active", remote: true do %>
      <h3><%= @bookings.count %></h3>
      <p> <%= @search ? 'Zoekresultaten' : "Aankomende Maand" %></p>
      <% end %>
      <%= link_to this_week_admin_bookings_path, class: "tab", remote: true do %>
      <h3><%= Booking.active.this_week.count %></h3>
      <p>Deze week</p>
      <% end %>
      <%= link_to old_bookings_admin_bookings_path, class: "tab", remote: true do %>
      <h3><%= Booking.active.old.count %></h3>
      <p>Oude boekingen</p>
      <% end %>
      <%= link_to all_bookings_admin_bookings_path, class: "tab", remote: true do %>
      <h3><%= Booking.active.count %></h3>
      <p>Alle boekingen</p>
      <% end %>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container" id="booking-container">
        <% if @search %>
        <%= link_to 'Verwijder zoekresultaten', admin_bookings_path, class: 'btn btn-default' %>
        <% end %>
        <%= render 'bookings', bookings: @bookings %>
      </div>
    </div>
  </div>
</div>
