<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Aanvragen
        </h1>
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
          </li>
          <li class="active">
            <i class="fa fa-desktop"></i> aanvragen
          </li>
        </ol>
      </div>
    </div>

    <div class="tabs">
      <%= link_to admin_bookings_path, class: "tab half-size active", remote: true do %>
      <h3><%= @bookings.count %></h3>
      <p>Aanvragen</p>
      <% end %>
      <%= link_to old_requests_admin_bookings_path, class: "tab half-size", remote: true do %>
      <h3><%= Booking.old_requests.count %></h3>
      <p>Oude en Afgewezen aanvragen</p>
      <% end %>
    </div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container" id="booking-container">
        <%= render 'bookings', bookings: @bookings %>
      </div>
    </div>
  </div>
</div>
