<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-xs-12" style="display: flex; justify-content: space-between; align-items: center;">
        <h1 class="page-header">
          <%= @booking.date_wedding.strftime('%A, %b %d') %> <small><%= @booking.name %></small>
        </h1>
        <div class="booking-actions">
          <%= link_to "Voeg film toe", new_admin_film_path(booking_id: @booking.id), class: "btn btn-primary" %>
          <%= link_to "Stuur herinnerings email!", send_reminder_admin_booking_path(@booking), remote: true, method: :post, class: "btn btn-primary"  %>
          <%= link_to 'Pas booking aan', edit_admin_booking_path(@booking),
          :class => "btn btn-warning"%>
          <%= link_to 'Cancel', admin_booking_path(@booking),
          data: {confirm: 'Are you sure?'},
          method: :delete,
          :class => "btn btn-danger"%>
        </div>
      </div>
    </div>


    <!-- /.row -->

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-phone fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div style='font-size: 20px;'><%= @booking.phone_number %></div>
                <div style='font-size: 20px;'> <%= @booking.email_address %></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-location-arrow fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div style='font-size: 20px;'><%= @booking.location_wedding %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <% if @booking %>
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-book fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @booking.playlines.count %></div>
                <div>Zie klant applicatie</div>
              </div>
            </div>
          </div>
          <a href="<%= client_booking_path(@booking) %>">
            <div class="panel-footer">
              <span class="pull-left">Zie klant applicatie</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
        <% else %>
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-book fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div>Nog geen draaiboek</div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-music fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @booking.song_choices.count %></div>
                <div>Gekozen liedjes</div>
              </div>
            </div>
          </div>
          <% if @booking %>
          <a href="<%= client_booking_path(@booking) %>">
            <div class="panel-footer">
              <span class="pull-left">Zie klant applicatie</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
          <% end %>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-book fa-fw"></i> Muziek keuzes</h3>
          </div>
          <div class="panel-body">
            <%= render 'admin/songs/songs', songs: @booking.song_choices.page(params[:page]) %>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-book fa-fw"></i> Draaiboek</h3>
          </div>
          <div class="panel-body">
            <% if @booking %>
            <div id="playlines-container">
              <% if @booking.playlines.any? %>
              <div class="table-responsive">
                <div class="table-head">
                  <div class="table-header">
                    <%= t('playbook_data.playbook_headers.start_time') %>
                  </div>
                  <div class="table-header">
                    <%= t('playbook_data.playbook_headers.activity') %>
                  </div>
                  <div class="table-header">
                    <%= t('playbook_data.playbook_headers.contact') %>
                  </div>
                  <div class="table-header">
                    <%= t('playbook_data.playbook_headers.phone_number') %>
                  </div>
                  <div class="table-header">
                    <%= t('playbook_data.playbook_headers.address') %>
                  </div>
                  <div class="table-header">
                    <%= t('playbook_data.playbook_headers.city') %>
                  </div>
                  <div class="table-header">
                    <%= t('playbook_data.playbook_headers.changes') %>
                  </div>
                </div>
                <div class="table-body" id="playlines">
                  <% if @booking.playlines.any? %>
                  <% @booking.playlines.sort_by(&:order_number).each do |playline| %>
                  <%= render 'client/playlines/show', playline: playline %>
                  <% end %>
                  <% end %>
                </div>
              </div>

              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-book fa-fw"></i> Notities</h3>
          </div>
          <div class="panel-body">
            <div class="comments">
              <% @booking.comments.order(created_at: :asc).each do |comment|  %>
              <%= render 'admin/comments/show', comment: comment %>
              <% end %>
              <%= render 'admin/comments/form', commentable: @booking, comment: @comment %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->

</div>




<!-- flex 0 0 1/total   : tijdlijn! -->
