<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Dashboard <small><%= @booking.name %></small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-dashboard"></i> Dashboard
          </li>
        </ol>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-phone fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div style='font-size: 15px;'><%= @booking.phone_number %></div>
                <div style='font-size: 15px;'> <%= @booking.email_address %></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-location-arrow fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div style='font-size: 15px;'><%= @booking.location_wedding %></div>
                <div style='font-size: 15px;'><%= @booking.date_wedding.strftime('%A, %b %d') %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <% if @booking.playbook %>
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-book fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @booking.playbook.playlines.count %></div>
                <div>Zie draaiboek</div>
              </div>
            </div>
          </div>
          <a href="<%= playbook_path(@booking.playbook) %>">
            <div class="panel-footer">
              <span class="pull-left">Zie draaiboek</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
        <% else %>
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-book fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div>Nog geen draaiboek</div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-music fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge"><%= @booking.playbook.song_choices.count %></div>
                <div>Gekozen liedjes</div>
              </div>
            </div>
          </div>
          <% if @booking.playbook %>
          <a href="<%= playbook_path(@booking.playbook) %>">
            <div class="panel-footer">
              <span class="pull-left">Zie draaiboek</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
          <% end %>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-book fa-fw"></i> Muziek keuzes</h3>
          </div>
          <div class="panel-body">
            <% if songs = @booking.playbook.song_choices %>
            <%= render 'admin/songs/songs', songs: songs %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-book fa-fw"></i> Draaiboek</h3>
          </div>
          <div class="panel-body">
            <% if @booking.playbook %>
            <div id="playlines-container">
              <ul ondragstart="" id="playlines">
                <% if @booking.playbook.playlines.any? %>
                <% @booking.playbook.playlines.sort_by(&:order_number).each do |playline| %>
                <%= render 'playlines/show', playline: playline %>
                <% end %>
                <% end %>
              </ul>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->

</div>




<!-- flex 0 0 1/total   : tijdlijn! -->
