<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="playbook" class="tab-content">
  <div class="container">
    <div class="row">
      <div class="top-table-data">
        <h5>
          <strong> <%= t('playbook_data.day_format') %></strong>
        </h5>
        <button type="submit" name="submit" data-toggle="modal" data-target="#infoModal">
          <%= t('playbook_data.how_to_use.button') %>
        </button>
      </div>
      <div class="table-responsive">
        <div class="table-head">
          <div class="table-header">
            <%= t('playbook_data.playbook_headers.start_time') %>
          </div>
          <div class="table-header">
            <%= t('playbook_data.playbook_headers.activity') %>
          </div>
          <div class="table-header">
            <%= t('playbook_data.playbook_headers.contact') %>
          </div>
          <div class="table-header">
            <%= t('playbook_data.playbook_headers.phone_number') %>
          </div>
          <div class="table-header">
            <%= t('playbook_data.playbook_headers.address') %>
          </div>
          <div class="table-header">
            <%= t('playbook_data.playbook_headers.city') %>
          </div>
          <div class="table-header">
            <%= t('playbook_data.playbook_headers.changes') %>
          </div>
        </div>
        <div class="table-body" id="playlines">
            <% if @booking.playlines.any? %>
            <% @booking.playlines.sort_by(&:order_number).each do |playline| %>
              <%= render 'client/playlines/show', playline: playline %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
      <hr>
    <div class="row">
      <div class="playline-form col-xs-12" style="margin-top: 20px;">
        <%= render 'client/playlines/form', booking: @booking, playline: @playline, url: client_booking_playlines_path(@booking) %>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Modal -->
<%= render 'info', type: 'playbook' %>

