<table class="table table-striped table-hover">
  <thead z>
    <tr>
      <th><h2><%= @title %></h2 id="song-title"></th>
    </tr>
  </thead>

  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Link</th>

    </tr>
  </thead>
  <tbody>
    <% songs.each do |song| %>
   <tr>
    <td><%= song.artist %></td>
    <td><%= song.title %></td>



    <td><%= link_to 'Edit', edit_admin_song_path(song),
    :class => "btn btn-warning" %></td>
    <td><%= link_to 'Verwijder', admin_song_path(song),
    data: {confirm: 'Are you sure?'},
    method: :delete,
    :class => "btn btn-danger"%></td>
  </tr>
  <% end %>
</tbody>
</table>
<%= paginate @songs unless @search %>

