<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="song-info">
        <div id="message">
          <h5>
            <strong>
              <%= t('music_data.message', max_songs: @booking.max_songs) %>
            </strong>
          </h5>
        </div>
        <button type="submit" name="submit" data-toggle="modal" data-target="#infoModal">
          <%= t('playbook_data.how_to_use.button') %>
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 square-box">
      <ul class="steps steps-5" id="steps-diy">
        <li class="active tab" data-type="slow">
          <%= link_to client_booking_song_choices_path(type: "slow"), remote: true do %>
              Slow
          <% end %>
        </li>
        <li class="tab" data-type="med">
          <%= link_to client_booking_song_choices_path(type: "med"), remote: true do %>
              Medium
          <% end %>
        </li>
        <li class="tab" data-type="up">
          <%= link_to client_booking_song_choices_path(type: "up"), remote: true do %>
              Up
          <% end %>
        </li>
      </ul>
      <div class="scroll-box">
        <ul id="songs-container">
          <%= render 'songs', selection: @selection, booking: @booking  %>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="songs-container padding-top-50">
        <h4>
          Selected
        </h4>
        <ul id="selected-songs">
          <% if @songs.any? %>
          <% @songs.each do |song| %>
          <li id=song-choice-id[<%= song.id %>]>
            <div class="song-row">
              <%= song.title.upcase %>
              -
              <%= song.artist.upcase %>
              <%= link_to  client_booking_song_choice_path(@booking, song), method: :delete, data: {confirm: "Sure?"}, remote: true do %>
              <button class="select-button">REMOVE</button>
              <% end %>
            </div>
          </li>
          <% end %>
          <% else %>
          <p id="no-songs-message">
            No songs chosen yet!
          </p>
        </ul>
        <% end %>
        <div id="errors">

        </div>
      </div>
      <div id="song-form">
        <h4>
          Add your own
        </h4>
        <% unless @songs.count >= @booking.max_songs %>
        <%= simple_form_for([@booking, @song_choice], url: client_booking_song_choices_path(@booking), remote: true) do |f| %>
        <%= f.input :title, label: false, placeholder: 'Title of song', input_html: {class: "spaced-form"} %>
        <%= f.input :artist, label: false, placeholder: '...and the artist!', input_html: {class: "spaced-form"} %>
        <button type="submit" name="submit" id="contact-submit">ADD SONG</button>
        <% end %>
        <% else %>
        <h3>
          <%= @songs.count %> of <%= @booking.max_songs %>
        </h3>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= render 'client/bookings/info', type: 'music' %>





