<%= simple_form_for([playbook, playline], remote: true) do |f| %>
  <div class="flexed-items">
    <div class="flex-child">
      <%= f.input :begin_time, label: false, collection: times, prompt: t('playbook_data.playbook_headers.start_time'), input_html: { class: 'form-content spaced-form' } %>
    </div>
    <div class="flex-child">
      <%= f.input :content, label: false, placeholder: t('playbook_data.playbook_headers.activity'), input_html: { class: 'form-content spaced-form' } %>
    </div>
    <div class="flex-child">
      <%= f.input :contact, label: false, placeholder: t('playbook_data.playbook_headers.contact'), input_html: { class: 'form-contact spaced-form' } %>
    </div>
    <div class="flex-child">
      <input type="text" name="playline[phone_number]" class="spaced-form" placeholder="<%= t('playbook_data.playbook_headers.phone_number') %>" required autocomplete="off">
    </div>
    <div class="flex-child">
      <%= f.input :address, label: false, placeholder: t('playbook_data.playbook_headers.address'), input_html: { class: 'form-location spaced-form' } %>
    </div>
    <div class="flex-child">
      <%= f.input :city, label: false, placeholder: t('playbook_data.playbook_headers.city'), input_html: { class: 'form-location spaced-form' } %>
    </div>
    <div class="flex-child">
      <button type="submit" name="submit" id="contact-submit">ADD LINE</button>
    </div>
  </div>
<% end %>
