<%= simple_form_for([playbook, playline], remote: true) do |f| %>
  <%= f.input :begin_time, label: false, collection: times, prompt: t('playbook_data.playbook_headers.start_time') %>
  <%= f.input :content, label: false, placeholder: t('playbook_data.playbook_headers.activity'), input_html: { class: 'form-content' } %>
  <%= f.input :contact, label: false, placeholder: t('playbook_data.playbook_headers.contact')  , input_html: { class: 'form-contact' } %>
  <input type="text" name="playline[phone_number]" placeholder="<%= t('playbook_data.playbook_headers.phone_number') %>" required autocomplete="off">
  <%= f.input :address, label: false, placeholder: t('playbook_data.playbook_headers.address'), input_html: { class: 'form-location' } %>
  <%= f.input :city, label: false, placeholder: t('playbook_data.playbook_headers.city'), input_html: { class: 'form-location' } %>
  <button type="submit" name="submit" id="contact-submit">ADD LINE</button>
<% end %>
