<%= simple_form_for([playbook, playline], remote: true) do |f| %>
    <div class="col-xs-12 col-sm-3">
      <%= f.input :begin_time, label: false, input_html: {id: 'begin-time'} %>
    </div>
    <div class="col-xs-12 col-sm-3">
    <%= f.input :location, label: false, placeholder: "Location", input_html: { class: 'form-location' } %>
    </div>
    <div class="col-xs-12 col-sm-3">
    <%= f.input :content, label: false, placeholder: "What's happening?", input_html: { class: 'form-content' } %>
    </div>
    <div class="col-xs-12 col-sm-3">
      <button type="submit" name="submit" id="contact-submit">ADD LINE</button>
    </div>
<% end %>
<%= content_for(:after_js) do %>
<script>
  $('#begin-time').timepicker();
</script>
<% end %>
