<%= simple_form_for([playbook, playline], remote: true) do |f| %>
  <div class="form-inputs" style="display: flex; width: 100%; justify-content: space-between;">
    <%= f.input :location, label: false, placeholder: "Location" %>
    <%= f.input :content, label: false, placeholder: "What's happening?" %>
    <%= f.input :begin_time, label: false %>
    <%= f.input :end_time, label: false %>
    <%= f.submit value: "Save" %>
  </div>
<% end %>
