<tr draggable="true" id="playline-id[<%= playline.id %>]" data-id="<%= playline.id %>" data-time="<%= playline.numeric_time %>">
  <td>
    <%= playline.begin_time %>
  </td>
  <td>
    <%= playline.contact %>
  </td>
  <td>
    <%= playline.phone_number %>
  </td>
  <td>
    <%= playline.location %>
  </td>
  <td>
    <%= playline.content %>
  </td>
  <td class="playline-changes">
    <%= link_to  playline_path(playline), method: :delete, data: {confirm: "Sure?"}, remote: true do %>
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  <% end %>
  <%= link_to edit_playline_path(playline), remote: true do %>
    <i class="fa fa-pencil" aria-hidden="true"></i>
  <% end %>
  </td>
</tr>

