        <header class="page-header clearfix">

            <!--Logo Wrapper-->
            <a href="<%= root_path %>" class="logo-wrapper">
            <b>
            ONELIFE FILM
            </b>
            </a>

            <!--Mobile Menu Icon-->
            <a href="#" class="mobile-nav-button">
                <i class="icon"></i>
            </a>

            <!--Menu Wrapper Starts-->
              <nav class="manu-wrapper">
                <ul>
                  <li id="home">
                    <%= link_to 'HOME', root_path %>
                  </li>
                  <li id="gallery">
                    <%= link_to 'GALLERIJ', gallery_path %>
                  </li>
                  <li id="about">
                    <%= link_to 'OVER ONS', about_path %>
                  </li>
                  <li id="contact">
                    <%= link_to 'AANVRAAG', contact_path %>
                  </li>
                </ul>
              </nav>
            <!--Menu Wrapper End-->

        </header>
