
<header class="page-header clearfix">

  <!--Logo Wrapper-->
  <%= link_to root_path, class: "logo-wrapper" do %>
    <%= image_tag 'one_life_logo.png', class: "logo" %>
  <% end %>

  <!--Mobile Menu Icon-->
  <a href="#" class="mobile-nav-button">
    <i class="icon"></i>
  </a>

  <!--Menu Wrapper Starts-->
  <nav class="manu-wrapper">
    <ul>
      <% unless @booking.filmed? %>
      <li id="home">
        <%= link_to t('playbook') + @playbook.counted_playline_state, playbook_path(@playbook), class: @playbook.colored_playline_state %>
      </li>
      <li id="gallery">
        <%= link_to t('music')+ @playbook.counted_music_state, songs_playbook_path, class: @playbook.colored_music_state %>
      </li>
      <li id="gallery">
        <a type="submit" href="" name="submit" data-toggle="modal" data-target="#checklist">
          CHECKLIST
        </a>
      </li>
      <% else %>
      <li id="film">
        <%= link_to "FILM", film_playbook_path(@playbook), type: "submit" %>
      </li>
      <% end %>
    </ul>
  </nav>
  <!--Menu Wrapper End-->

</header>

<%= render 'checklist' %>


