<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

</head>
<style>
body {
  padding: 40px;
  color: rgb(8,8,8);
}

h1,h2,h3,h4,h5 {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  size: 30px;
  line-height: 20px;
}
i:hover {
  color: lightgrey;
}
.underline-title {
    border-bottom: 7px solid rgba(164, 149, 95,0.7);
  -webkit-box-shadow: inset 0 1px 0 rgba(164, 149, 95,0.38);
  box-shadow: inset 0 -4px 0 rgba(164, 149, 95,0.38);
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
  height: 20px;
  display: inline-block;
}
a {
  color: rgb(8,8,8);
  text-decoration: none;
}
a:hover {
  color: rgb(8,8,8);
  text-decoration: none;
}
</style>

<body>


<div class="container">
  <div class="row">
     <a href="https://www.onelifefilm.eu/playbooks/<%= @booking.playbook.id %>">
      <h2>Persoonlijke pagina en <strong class="underline-title"> voorbereidings tool </strong></h2>
     </a>
      <h6>
        Inlog gegevens
      </h6>
        <p>
          password =  123<%=@booking.email_address%>
        </p>
        <p>
          gebruikersnaam/email = <%= @booking.email_address %>
        </p>
  <br>
  <br>
  <h3>
    Hi <%= @booking.name %>,
  </h3>
  <p>
    Hoe gaat het met jullie?
  </p>
  <p>
    Ik ben natuurlijk heel erg benieuwd naar de invulling van de trouwdag. Wat gaat er allemaal gebeuren?
  </p>
  <p>
    Om alvast een beeld te krijgen van jullie trouwdag,  wil ik jullie vragen om mij in <strong> GROTE </strong> stappen een beeld te schetsen van deze dag. Om dit zo gemakkelijk mogelijk te maken, vragen wij u gebruik te maken van de <a href=""> tool </a> in uw persoonlijke webpagina op de OneLife film web applicatie.
  </p>
  <p>
    Door op de link te klikken komt u in uw persoonlijke deel van onze website. Hier zal uiteindelijk ook uw film te vinden zijn, maar voor nu gebruiken we deze als tool om de voorbereiding te doen.
    Er zijn twee dingen die we nodig hebben, uw muziek keuze en een dag indeling in grote lijnen.
  </p>
  <h2>Draaiboek</h2>
  <p>
    Als u naar de link gaat beland u in de tool in de sectie van het draaiboek. Hier hebben wij al een voorbeeld van een draaiboek voor u klaar staan, we vragen u deze aan te passen. Dat kan door op het pennetje aan de rechterkant te drukken onder het kopje 'aanpassingen'. Ook kunt een rij verwijderen door op de prullenbak te drukken.
    Mocht u nog andere evenementen willen toevoegen, dan kunt u aan de onderkant van de tabel en formulier vinden waar u de informatie invult. De tool sorteert automatisch op tijd, dus wanneer de volgorde niet klopt kunt u de tijd aanpassen.
  </p>

  <h2>
     <a href="https://www.onelifefilm.eu/playbooks/<%= @booking.playbook.id %>/songs">
      Muziek
    </a>
  </h2>
  <p> De tool hiervoor is te vinden onder het kopje 'Muziek' in uw persoonlijke webpagina. Hier vind u ook onze collectie van muziek waarvan wij geloven dat de nummers goed werken</p>
  <br>
  <p>
    Dit  is een heel belangrijk onderdeel.
  </p>
  <p>
    De editor gaat op jullie uitgekozen muziek de film op de trouwdag maken. We willen 3 verschillende muzieknummers,  zodat we allerlei emoties kunnen vangen.
  </p>
  <p>
    Daarom vragen wij jullie een keus te maken voor 3 verschillende muzieknummers in OPBOUW van  tempo.
  </p>
  <p>
    Hierbij een muziekkeuze voorbeeld  die helemaal klopt  qua oplopen in  tempo..
  </p>
  <p>
    1.    The look of love – Diana Krall          Rustig
    2.    Paradise - Coldplay                   Meer tempo
    3.    Blessed- Tom Hangs & Shermanologyen       Uptempo
  </p>

  <p>
    Nu heb ik jullie dit een voorbeeld gegeven die qua romantiek en opbouw met de juiste spanning helemaal goed is. Maar misschien houden jullie helemaal niet van Coldplay, en zijn collega’s : ) !
    Dan kunnen jullie in onze muziek collectie in de tool onder het kopje muziek, nog allerlei muzieknummers vinden, die zijn al onderverdeeld in tempo zodat het makkelijk kiezen is.
  </p>
  <p>
    Mocht ook daarin helemaal  niets tussen staan wat jullie mooi vinden, dan mogen jullie natuurlijk zelf deze uitdaging aan gaan.  Let dan wel goed op, dat de muziek duidelijk opbouwend is in tempo en dat het drie keer totaal andere nummers zijn.
  </p>
  <p>
    De volgorde van de muziek mogen jullie los laten, deze wordt op jullie trouwdag pas gemaakt aan de hand van de film beelden..Allen blijft het up-tempo nummer natuurlijk wel als laatste, omdat hier de beelden van het feest op gemonteerd worden.
  </p>


  <p>
    In aanloop naar  jullie trouwdag zijn er  vaak  zovéél andere dingen te doen. Het  kiezen van de muziek staat uiteraard zelden boven aan de lijst.
  </p>
  <p>
    Daarom ga ik nu al jullie om de muziek keuze vragen.Dit geeft de ruimte, om er samen met ons er goed  naar te kijken. Wij weten natuurlijk heel goed wat beeld en geluid voor elkaar kunnen doen. Dit moet goed zijn en ook goed voelen.
  </p>
  <p>
    Mochten jullie vragen hebben of mij als hulplijn willen gebruiken hoor ik het graag : )
  </p>
  <p>
    Veel plezier met alle voorpret.
  </p>
  <p>
    Groetjes,
  </p>
  <p>
    Anouk
  </p>
  <p>
    Planner van OneLife Film
    m: 0031 (6) 10 55 15 88
  </p>
  <i>
    <a href="https://www.onelifefilm.eu/films/nicolette-bas">
      Kijk ook eens naar de Trouwfilm  van Nicolette van Dam en Bas Smit.
    </a>
  </i>
  <br>
  <a href="https://www.onelifefilm.eu">
    Compilatie OneLife Film
  </a>
  <p>
    KvK 52069427
  </p>


  </div>
</div>
