<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h2>
        Aanvraag <%= @booking.name %>
      </h2>

      <div class="request-info">
        <%= @booking.email_address %>
        <%= @booking.phone_number %>
        <%= @booking.concerns %>
        <%= @booking.location_wedding %>
        <%= @booking.date_wedding %>
        <%= @booking.subject %>
        <%= @booking.description %>
      </div>

    </div>
  </div>
</div>
