<div class="active-classer" id="contact"></div>

<!--Content Starts-->
<div class="page-content-wrapper">

  <div class="container pt100 pb100">
    <div class="row">

      <div class="col-sm-6">

        <div class="text-left">

          <h4><%= t('new_request.title') %></h4>
          <p><%= t('new_request.content') %> </p>

          <p class="phon"><b><%= t('new_request.phone') %> :</b><a href="#">+31 6 10 55 15 88</a></p>
          <p class="mail"><b>EMAIL :</b><a href="#"> info@onelifefilm.nl</a></p>

        </div>

      </div>

      <div class="col-sm-6">

        <div class="text-left">

          <!--form-->
          <div class="message"></div>
          <form id="name" method="POST" action="/requests" name="request">
            <input class="spaced-form" type="text" name="request[name]" placeholder="<%= t('new_request.form.name') %>" required autocomplete="off">
            <input class="spaced-form" type="email" name="request[email_address]" placeholder="<%= t('new_request.form.email') %>" required autocomplete="off">
            <input class="spaced-form" type="text" name="request[phone_number]" placeholder="<%= t('new_request.form.phone') %>" required autocomplete="off">
            <input class="spaced-form" type="text" name="request[subject]" placeholder="<%= t('new_request.form.concerns') %>" required autocomplete="off">
            <%= token_tag %>
            <input class="spaced-form" type="text" name="request[location_wedding]" placeholder="<%= t('new_request.form.location') %>" required autocomplete="off">
            <input class="spaced-form datepicker" type="text" name="request[date_wedding]" placeholder="<%= t('new_request.form.date') %>" required autocomplete="off" id="contact-date">
            <p id="date-error-message"></p>
            <textarea name="request[message]" placeholder="<%= t('new_request.form.description') %>" required></textarea>
            <%= recaptcha_tags %>
            <button type="submit" name="submit" id="contact-submit"><%= t('new_request.form.submit') %></button>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>
<!--Content End-->

<script type="application/ld+json">
  {
  "@context": "https://www.onelifefilm.nl/requests/new",
  "@type": "Contact",
  "name": "Contact",
  "image": "<%= image_path 'about-background' %>",
  "description": "OneLife Film - De mooiste dag van je leven gefilmd en dezelfde dag gepresenteerd - Contact",
  "author": "OneLife Film",
  "description": "Contact pagina OneLife Film"
}
</script>
