<div class="active-classer" id="gallery" style="width:100%; margin:10px;"></div>
<!--Preloader Starts-->
<div class="main-container short-width fixed-header fixed-footer">
	<!--Filter Wrapper Starts-->
	<div class="isotope-filter" style="margin-top: -50px;">
	</div>
	<!--Filter Wrapper End-->
  <div class="masonry gallery-default" data-items-columns="3" data-items-gap="25">

    <!--Items Starts-->
    <!-- For item sizes use classes (double-width) and (double-height) -->
    <div class="item">

      <a class="video-frame" href="https://vimeo.com/132738834" title="Image Caption">

        <div class="image-wrapper" data-backgroundimage="<%= image_path 'gallery_1' %>"></div>
        <div class="caption-wrapper">
          <p>Castell d'Emporda, Spanje</p>
        </div>

      </a>

    </div>



    <div class="item">

      <a class="video-frame" href="https://vimeo.com/278157582">

        <div class="image-wrapper" data-backgroundimage="<%= image_path 'gallery_2' %>"></div>
        <div class="caption-wrapper">
          <p>
            Formentor, Mallorca
          </p>
        </div>

      </a>

    </div>



    <div class="item">
      <a class="video-frame" href="https://vimeo.com/276699542">

        <div class="image-wrapper" data-backgroundimage="<%= image_path 'gallery_3' %>"></div>
        <div class="caption-wrapper">
          <p>
            Park Broekhuizen, Leersum
          </p>
        </div>

      </a>

    </div>



    <div class="item">

      <a class="video-frame" href="https://vimeo.com/215426153" title="Image Caption">

        <div class="image-wrapper" data-backgroundimage="<%= image_path 'gallery_4' %>"></div>
        <div class="caption-wrapper"></div>

      </a>

    </div>



    <div class="item">
      <a class="video-frame" href="https://vimeo.com/111228151" title="Image Caption">

        <div class="image-wrapper" data-backgroundimage="<%= image_path 'gallery_5' %>"></div>
        <div class="caption-wrapper">
          <p>
            Hilton Sa Torre Mallorca, Spanje
          </p>
        </div>

      </a>

    </div>



    <div class="item">
      <a class="video-frame" href="https://vimeo.com/278707627" title="Image Caption">

        <div class="image-wrapper" data-backgroundimage="<%= image_path 'gallery_6' %>"></div>
        <div class="caption-wrapper"></div>

      </a>

    </div>



    <div class="item">

      <a class="video-frame" href="https://vimeo.com/240014829" title="Image Caption">
        <div class="image-wrapper" data-backgroundimage="<%= image_path 'gallery_7' %>"></div>
        <div class="caption-wrapper">
          <p>Castell d'Emporda, Spanje</p>
        </div>

      </a>

    </div>
    <!--Items End-->
  </div>

</div>
