<div class="active-classer" id="gallery" style="width:100%; margin:10px;"></div>
<!--Preloader Starts-->
<div class="main-container short-width fixed-header fixed-footer">
	<!--Filter Wrapper Starts-->
	<div class="isotope-filter" style="margin-top: -50px;">
	</div>
	<!--Filter Wrapper End-->
  <div class="masonry gallery-default" data-items-columns="3" data-items-gap="25">

    <!--Items Starts-->
    <!-- For item sizes use classes (double-width) and (double-height) -->
    <div class="item">

      <a class="video-frame" href="https://vimeo.com/132738834" title="Image Caption">

        <div class="image-wrapper" data-backgroundimage="<%= image_path 'gallery_1' %>"></div>
        <div class="caption-wrapper">
          <p>Castell d'Emporda, Spanje</p>
        </div>

      </a>

    </div>



    <div class="item">

      <a class="video-frame" href="https://vimeo.com/278157582">

        <div class="image-wrapper" data-backgroundimage="<%= image_path 'gallery_2' %>"></div>
        <div class="caption-wrapper">
          <p>
            Formentor Mallorca, Spanje
          </p>
        </div>

      </a>

    </div>



    <div class="item">
      <a class="video-frame" href="https://vimeo.com/276699542">

        <div class="image-wrapper" data-backgroundimage="<%= image_path 'gallery_3' %>"></div>
        <div class="caption-wrapper">
          <p>
            Park Broekhuizen Leersum, Nederland
          </p>
        </div>

      </a>

    </div>



    <div class="item">

      <a class="video-frame" href="https://vimeo.com/215426153" title="Image Caption">

        <div class="image-wrapper" data-backgroundimage="<%= image_path 'gallery_4' %>"></div>
        <div class="caption-wrapper">
          <p>
            Landgoed Te Werve Rijswijk, Nederland
          </p>
        </div>

      </a>

    </div>

    <div class="item">

      <a class="video-frame" href="https://vimeo.com/42884906" title="Image Caption">
        <div class="image-wrapper" data-backgroundimage="<%= image_path 'gallery_8' %>"></div>
        <div class="caption-wrapper">
          <p>
            Heinde & Ver Delft, Nederland
          </p>
        </div>

      </a>

    </div>



    <div class="item">
      <a class="video-frame" href="https://vimeo.com/278707627" title="Image Caption">

        <div class="image-wrapper" data-backgroundimage="<%= image_path 'gallery_6' %>"></div>
        <div class="caption-wrapper">
          <p>
            Groot Warnsborn Arnhem, Nederland
          </p>
        </div>

      </a>

    </div>

    <div class="item">
      <a class="video-frame" href="https://vimeo.com/111228151" title="Image Caption">

        <div class="image-wrapper" data-backgroundimage="<%= image_path 'gallery_5' %>"></div>
        <div class="caption-wrapper">
          <p>
            Hilton Sa Torre Mallorca, Spanje
          </p>
        </div>

      </a>

    </div>



    <div class="item">

      <a class="video-frame" href="https://vimeo.com/240014829" title="Image Caption">
        <div class="image-wrapper" data-backgroundimage="<%= image_path 'gallery_7' %>"></div>
        <div class="caption-wrapper">
          <p>Castell d'Emporda, Spanje</p>
        </div>

      </a>

    </div>

    <div class="item">

      <a class="video-frame" href="https://vimeo.com/45153375" title="Image Caption">
        <div class="image-wrapper" data-backgroundimage="<%= image_path 'gallery_9' %>"></div>
        <div class="caption-wrapper">
          <p>
            Compilatie
          </p>
        </div>

      </a>

    </div>


    <!--Items End-->
  </div>

</div>

<nav aria-label="breadcrumb" style="padding-left: 75px">
  <ol class='breadcrumbs'>
    <% breadcrumb_trail do |crumb| %>
      <li class="<%= crumb.current? ? 'current' : '' %>">
        <%= link_to crumb.name, crumb.url, (crumb.current? ? {'aria-current' => 'page'} : {}) %>
        <% unless crumb.current? %><span>::</span><% end %>
      </li>
    <% end %>
  </ol>
</nav>

<script type="application/ld+json">
  {
  "@context": "https://www.onelifefilm.nl/",
  "@type": "Gallery",
  "name": "Gallerij",
  "description": "OneLife Film - De mooiste dag van je leven gefilmd en dezelfde dag gepresenteerd",
  "author": "OneLife Film",
  "image": "<%= image_path 'gallery_8' %>",
  "video": "https://vimeo.com/132738834"
  "description": "Wedding films OneLife Film"
}
</script>
