<% content_for :meta_title, "#{t('home')} | #{DEFAULT_META["meta_title"]}" %>

<div class="active-classer" id="home"></div>
<!--Preloader Starts-->
<div class="preloader"><i class="p-in"></i></div>
<!--Preloader End-->

<!--Main Wrapper Starts-->
<div class="main-wrapper animsition">

    <!--Content Starts-->
    <div class="main-container">

         <!--Cover Wrapper Starts-->
      <div class="cover-wrapper cover-one video-cover" id="home-background">

        <div class="home bg-video-wrapper" data-muted="true" data-property="{videoURL: 'https://youtu.be/A7GUAtlSWXA?autoplay=1&loop=1'}"></div>
        <!--Background Video Wrapper-->
        <div class="cover-inner">
            <h2 class="text-shadow"><%= t('home_content.title') %></h2>
            <p class="text-shadow"><%= t('home_content.value_proposition') %>
            </p>
        </div>
      </div>
      <!--
        Remove dissappearing title script, script now stays
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          setInterval(function(){
            document.getElementById('disappearing-title').style.opacity = 0;
          }, 5000);
        })
      </script>
       -->
        <div class="cover-wrapper" id="home-background-mobile">
          <!--Background Video Wrapper-->
            <div class="cover-inner" style="color: white !important;">
              <h2 id="white"><%= t('home_content.title') %></h2>
              <p id="white"><%= t('home_content.value_proposition') %>
              </p>
            </div>
        </div>
        <!--Cover Wrapper End-->
    </div>
    <!--Content End-->
</div>
<!--Main Wrapper End-->
<nav aria-label="breadcrumb" style="padding-left: 75px">
  <ol class='breadcrumbs'>
    <% breadcrumb_trail do |crumb| %>
      <li class="<%= crumb.current? ? 'current' : '' %>">
        <%= link_to crumb.name, crumb.url, (crumb.current? ? {'aria-current' => 'page'} : {}) %>
        <% unless crumb.current? %><span>::</span><% end %>
      </li>
    <% end %>
  </ol>
</nav>

<script type="application/ld+json">
  {
  "@context": "https://www.onelifefilm.nl/",
  "@type": "Home",
  "name": "Home Page",
  "description": "OneLife Film - De mooiste dag van je leven gefilmd en dezelfde dag gepresenteerd",
  "author": "OneLife Film",
  "video": "https://youtu.be/A7GUAtlSWXA",
  "description": "Compilatie video OneLife film"
}
</script>
