<% content_for :meta_title, "#{@film.name} | #{DEFAULT_META["meta_title"]}" %>

<!--Content Starts-->
<div class="main-container short-width" style="margin-top: 40px; margin-bottom: 100px;">
  <h4 style="text-align: center;"> <%= @film.name %></h4>
  <!--Wide Wrapper Starts-->
  <div class="wide portfolio-one" data-items-gap="15">

    <!--Items Starts-->
    <div class="item">
      <div class="project">

        <iframe src="https://player.vimeo.com/video/<%= @film_id %>?color=a39254&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      </div>
    </div>
    <!--Items End-->

  </div>
  <!--Wide Wrapper End-->

</div>
<!--Content End-->

<nav aria-label="breadcrumb" style="padding-left: 75px">
  <ol class='breadcrumbs'>
    <% breadcrumb_trail do |crumb| %>
      <li class="<%= crumb.current? ? 'current' : '' %>">
        <%= link_to crumb.name, crumb.url, (crumb.current? ? {'aria-current' => 'page'} : {}) %>
        <% unless crumb.current? %><span>::</span><% end %>
      </li>
    <% end %>
  </ol>
</nav>

<script type="application/ld+json">
  {
  "@context": "https://www.onelifefilm.nl/",
  "@type": "Film",
  "name": "<%= @film.name %>",
  "author": "OneLife Film",
  "video": "https://player.vimeo.com/video/<%= @film_id %>",
  "description": "Trouwfilm gemaakt door OneLife film"
}
</script>
