<div id="film-container">
  <table class="table table-striped table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Link</th>
        <th>Promo</th>
        <th>Poster</th>

        <th>Show</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>
    <tbody>
     <% @films.each do |film| %>
     <tr>
      <td><%= film.name %></td>
      <td><%= film.video_url %></td>
      <td><%= "https://www.onelifefilm.eu/films/#{film.slug}" %></td>
      <td><%= film.promo %></td>
      <td><%= film.poster %></td>

      <td><%= link_to 'Show', "https://www.onelifefilm.eu/films/#{film.slug}",
      :class => "btn btn-primary"%></td>
      <td><%= link_to 'Edit', edit_admin_film_path(film),
      :class => "btn btn-warning"%></td>
      <td><%= link_to 'Destroy', admin_film_path(film),
      data: {confirm: 'Are you sure?'},
      method: :delete,
      :class => "btn btn-danger"%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @films %>
</div>
