<div class="table-row" draggable="true" id="playline-id[<%= playline.id %>]" data-id="<%= playline.id %>" data-time="<%= playline.numeric_time %>" data-order="<%= playline.order_number %>">
  <div class="table-row-element">
    <%= playline.begin_time %>
  </div>
  <div class="table-row-element">
    <%= playline.content %>
  </div>
  <div class="table-row-element">
    <%= playline.contact %>
  </div>
  <div class="table-row-element">
    <%= playline.phone_number %>
  </div>
  <div class="table-row-element">
    <%= playline.address %>
  </div>
  <div class="table-row-element">
    <%= playline.city %>
  </div>
  <div class="table-row-element">
    <%= link_to  client_playline_path(playline), method: :delete, data: {confirm: "Sure?"}, class: "grey-background-button", remote: true do %>
    <i class="fa fa-trash-o fa-1x" aria-hidden="true"></i>
  <% end %>
  <%= link_to edit_client_playline_path(playline), class: "grey-background-button", remote: true do %>
    <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
  <% end %>
  </div>
</div>

