
<div id="page-wrapper">

  <div class="container-fluid">

    <div class="container">
      <div style="display: flex; justify-content: center; align-items: center;">
        <% unless @search %>
          <div class="years">
            <% @years.each do |year| %>
              <%= link_to year, admin_calendar_index_path(year: year), class: "year #{'active-year' if year == @year.to_i}" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tabs">
      <% @months.each do |month| %>
        <%= link_to admin_calendar_index_path(month: month, year: @year), class: "tab #{'active' if month == @month}", remote: true do %>
        <h3>
          <%= month %>
        </h3>
        <p>
          <%= @year %>
        </p>
        <% end %>
      <% end %>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container" id="booking-container">
        <%= render 'events', events_per_day: @events_per_day %>
      </div>
    </div>
  </div>
</div>
