<tr id="active-requests">
  <td>
    <%= link_to admin_request_path(request) do %>
    <%= request.name %>
    <% end %>
  </td>
  <td>
    <%= request.email_address %>
    <br>
    <%= request.phone_number %>
  </td>
  <td>
    <%= request.location_wedding %>
  </td>
  <td class="request-status">
    <%= link_to "Eerste contact", update_state_admin_request_path(request, new_state: 'first_contact'), method: :patch, class: "req-btn #{request.btn_state('first_contact')}" %>

    <%= link_to "Offerte", update_state_admin_request_path(request, new_state: 'invoice'), method: :patch, class: "req-btn #{ request.btn_state('invoice')}" %>

    <%= link_to "Terugkoppeling", update_state_admin_request_path(request, new_state: 'feedback'), method: :patch, class: "req-btn #{ request.btn_state('feedback')}" %>
    <%= link_to 'Definitief', approve_admin_request_path(request), data: {confirm: 'De aanvraag wordt omgezet in een boeking, weet je het zeker?'},
    method: :patch, class: "req-btn definitive" %>

    <%= link_to 'Cancel', admin_request_path(request),
    data: {confirm: 'Are you sure?'},
    method: :delete,
    class: "req-btn cancelled" %>
  </td>
</tr>
