<tr>
  <td>
    <h5>
      <%= request.date_wedding&.strftime('%A, %b %d') %>
    </h5>
    <%= link_to admin_request_path(request) do %>
      <%= request.name %>
    <% end %>
  </td>
  <td>
    <%= request.email_address %>
    <br>
    <%= request.phone_number %>
  </td>
  <td>
    <%= request.created_at.strftime('%A, %b %d') %>
  </td>

<td class="request-cancelled">
  <p> Cancelled</p>
  <%= link_to 'Zet actief', update_state_admin_request_path(request, new_state: 'pending'),
  method: :patch,
  class: "req-btn " %>
</td>
  <td> Hier komt de reden</td>
</tr>
