

<div id="page-wrapper">
  <div class="container-fluid">
    <h2 class="text-center">
      <%= @request.date_wedding&.strftime('%A, %b %d') %>
    <small>Bruiloft datum</small>
    </h2>
    <div class="data-list">
      <div class="flexed-cards">
        <div class="data-card">
          <h5> Bericht </h5>
          <div class="data-content">
            <h6><%= @request.subject %></h6>
            <p><%= @request.message %></p>
            <p>Via: <%= @request.source_reference %></p>
          </div>
        </div>
        <div class="data-card">
          <div class="data-content">
          <h5> Lokatie </h5>
            <p> <%= @request.location_wedding %> </p>
          </div>
        </div>
        <div class="data-card">
          <h5> Status </h5>
          <div class="data-content">
            <p> <%= @request.pretty_state %></p>
            <p> Aanvraag binnengekomen op <%= @request.created_at.strftime('%A, %b %d') %> </p>
          </div>
        </div>
        <div class="data-card">
          <h5>
            Contact
          </h5>
          <div class="data-content">
            <p>
              <%= @request.email_address %>
            </p>
            <p>
              <%= @request.phone_number %>
            </p>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-book fa-fw"></i> Notities</h3>
            </div>
            <div class="panel-body">
              <div class="comments">
                <% @request.comments.order(created_at: :asc).each do |comment|  %>
                <%= render 'admin/comments/show', comment: comment %>
                <% end %>
                <%= render 'admin/comments/form', commentable: @request.object, comment: @comment %>
              </div>
            </div>
          </div>
        </div>
      </div>



  </div>
  <!-- /.container-fluid -->

</div>




<!-- flex 0 0 1/total   : tijdlijn! -->
