

<div id="page-wrapper">
  <div class="container-fluid">
    <div class="data-list">
      <ul class="list-inline">
        <li class="data-card">
          <h5> Bericht </h5>
          <h6><%= @request.subject %></h6>
          <p><%= @request.message %></p>
          <p>Via: <%= @request.source_reference %></p>
        </li>
        <li class="data-card">
          <h5> Praktisch </h5>
          <p> <%= @request.date_wedding %> </p>
          <p> <%= @request.location_wedding %> </p>
        </li>
        <li class="data-card">
          <h5> Status </h5>
          <p> <%= @request.pretty_state %></p>
          <p> <%= @request.created_at.strftime('%A, %b %d') %> </p>
        </li>
        <li class="data-card">
          <h5>
            Contact
          </h5>
          <p>
            <%= @request.email_address %>
          </p>
          <p>
            <%= @request.phone_number %>
          </p>
        </li>
      </ul>

    </div>


  </div>
  <!-- /.container-fluid -->

</div>




  <!-- flex 0 0 1/total   : tijdlijn! -->
