<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="flexed-nav">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header" id="flexed-nav">
    <a class="navbar-brand black-text" href="/admin">OneLife Admin</a>
  </div>
  <div class="realtime-info">
    <div class="rt-info-stat">
      <%= link_to admin_requests_path do %>
        Openstaande offertes: <%= @rt_quotations %>
      <% end %>
    </div>
    <div class="rt-info-stat">
      <%= link_to admin_requests_path do %>
        Openstaande aanvragen: <%= @rt_requests %>
      <% end %>
    </div>
    <div class="rt-info-stat">
      <%= link_to admin_requests_path do %>
        Cancels: <%= @rt_cancels %>
      <% end %>
    </div>

    <div class="rt-info-stat">
      <%= link_to admin_bookings_path do %>
         Boekingen: <%= @rt_bookings %>
      <% end %>
    </div>
  </div>
  <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
  <div class="collapse navbar-collapse navbar-ex1-collapse" style="z-index: 99;">
    <ul class="nav navbar-nav side-nav">
      <style>
      .black-text {
        color: black !important;
      }
      .navbar-inverse {
        border: none !important;
      }
      #no-effect:hover {
        color: white !important;
        background-color: black !important;
      }

    </style>
      <li class="nav-tab" id="request-nav">
        <a id="no-effect" class="black-text" href="/admin/requests"><i class="fa fa-fw fa-question" aria-hidden="true"></i>
        Aanvragen</a>
      </li>
      <li class="nav-tab" id="booking-nav">
        <a id="no-effect" class="black-text" href="/admin/bookings"><i class="fa fa-fw fa-calendar"></i> Calendar </a>
      </li>
      <li class="nav-tab" id="booking-nav">
        <a id="no-effect" class="black-text" href="/admin/bookings"><i class="fa fa-fw fa-plane"></i> Boekingen </a>
      </li>
      <li class="nav-tab" id="film-nav">
        <a id="no-effect" class="black-text" href="/admin/films"><i class="fa fa-fw fa-video-camera"></i> Films </a>
      </li>
      <li class="nav-tab" id="song-nav">
        <a id="no-effect" class="black-text" href="/admin/songs"> <i class="fa fa-fw fa-music" aria-hidden="true"></i>
        Liedjes</a>
      </li>
      <li>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "black-text", id: "no-effect" %>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>
